@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;

  background: hsla(214, 47%, 23%, 1);

  background: radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  background: -moz-radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  background: -webkit-radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1f3756", endColorstr="#141539", GradientType=1 );

  overflow-x: hidden;
}
  
#game-result-wrapper{
  animation: grw 0.15s;
}

@keyframes grw {
  0%{transform: scale(0);opacity: 0;}
  100%{transform: scale(1);opacity: 100%;}    
}

@media screen and (max-width: 640px) {
  #rules-modal{animation: mrm 0.15s;}
  @keyframes mrm {
    0%{opacity: 0; top:20rem;}
    100%{opacity: 100%; top:0}
    
  }  
}

@media screen and (min-width: 640px){
  .rpsc-container{
    width: 9rem !important;
    height: 9rem !important;
  }

  .rpsc-wrapper{    
    width: 6.75rem !important;
    height: 6.75rem !important;
  }

  .rpsc-wrapper > img {    
    width: 3.15rem !important;
    height: 3.15rem !important;
  }

  .player-coin > .rpsc-container, .home-coin > .rpsc-container{    
    width: 18rem !important;
    height: 18rem !important;
    border-bottom-width: 12px !important;
  }

  .player-coin > .rpsc-container > .rpsc-wrapper, .home-coin > .rpsc-container > .rpsc-wrapper{    
    width: 13.2rem !important;
    height: 13.2rem !important;
    border-top-width: 12px !important;
  }

  .player-coin > .rpsc-container img, .home-coin > .rpsc-container img{    
    width: 5.7rem !important;
    height: 7.3rem !important;
  }
  
}

@media screen and (min-width:1024px) {  
  #play-wrapper{
    gap: 23rem;
  }
}