@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body{
  font-family: 'Barlow Semi Condensed', sans-serif;

  background: hsla(214, 47%, 23%, 1);

  background: radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  background: -moz-radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  background: -webkit-radial-gradient(closest-corner, hsla(214, 47%, 23%, 1) 55%, hsla(238, 48%, 15%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1f3756", endColorstr="#141539", GradientType=1 );
}